openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
  - url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
        - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Широта
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Долгота
        - name: distance
          in: query
          required: true
          schema:
            type: integer
          description: Радиус поиска в километрах
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'

  /v3.0/stations_list/:
    get:
      tags:
        - stationList
      summary: Получить список всех станций
      operationId: getStationsList
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StationsList'

  /v3.0/carrier/:
    get:
      tags:
        - carrier
      summary: Информация о перевозчике
      operationId: getCarrier
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: Код перевозчика
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carrier'

  /v3.0/nearest_settlement/:
    get:
      tags:
        - nearestSettlement
      summary: Ближайший город
      operationId: getNearestSettlement
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Широта
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Долгота
        - name: distance
          in: query
          required: true
          schema:
            type: integer
          description: Радиус поиска в километрах
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NearestSettlement'

  /v3.0/thread/:
    get:
      tags:
        - thread
      summary: Список станций на маршруте
      operationId: getThreadStations
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: uid
          in: query
          required: true
          schema:
            type: string
          description: Идентификатор нитки
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'

  /v3.0/schedule/:
    get:
      tags:
        - schedule
      summary: Расписание на станции
      operationId: getScheduleOnStation
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: station
          in: query
          required: true
          schema:
            type: string
          description: Код станции
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Дата расписания
        - name: transport_types
          in: query
          required: false
          schema:
            type: string
          description: Типы транспорта (через запятую)
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'

  /v3.0/search/:
    get:
      tags:
        - search
      summary: Расписание между станциями
      operationId: getScheduleBetweenStations
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Код станции отправления
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: Код станции прибытия
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
          description: Дата поездки
        - name: transport_types
          in: query
          required: false
          schema:
            type: string
          description: Типы транспорта (через запятую)
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Search'

  /v3.0/copyright/:
    get:
      tags:
        - copyright
      summary: Информация о копирайте
      operationId: getCopyright
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: API ключ
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: json
          description: Формат ответа
      responses:
        "200":
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'

components:
  schemas:
    Stations:
      type: object
      properties:
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            type: object
            properties:
              regions:
                type: array
                items:
                  type: object
                  properties:
                    settlements:
                      type: array
                      items:
                        type: object
                        properties:
                          title:
                            type: string
                          stations:
                            type: array
                            items:
                              $ref: '#/components/schemas/Station'

    Carrier:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        address:
          type: string
        url:
          type: string
        email:
          type: string
        contacts:
          type: string
        phone:
          type: string
        logo:
          type: string
        code_icao:
          type: string
        code_iata:
          type: string
        codes:
          type: object
          additionalProperties: true

    NearestSettlement:
      type: object
      properties:
        type:
          type: string
          description: Тип объекта
        title:
          type: string
          description: Название населённого пункта
        short_title:
          type: string
          description: Короткое название
        popular_title:
          type: string
          description: Популярное название
        code:
          type: string
          description: Код населённого пункта
        lat:
          type: number
          format: double
          description: Широта
        lng:
          type: number
          format: double
          description: Долгота
        distance:
          type: number
          format: double
          description: Расстояние до точки

    Thread:
      type: object
      properties:
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            number:
              type: string
            short_title:
              type: string
            carrier:
              $ref: '#/components/schemas/Carrier'
            transport_type:
              type: string
            vehicle:
              type: string
            transport_subtype:
              type: object
              properties:
                title:
                  type: string
                code:
                  type: string
                color:
                  type: string
        stops:
          type: array
          items:
            $ref: '#/components/schemas/Station'

    Schedule:
      type: object
      properties:
        date:
          type: string
          format: date
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Search:
      type: object
      properties:
        search:
          type: object
          properties:
            from:
              $ref: '#/components/schemas/Station'
            to:
              $ref: '#/components/schemas/Station'
            date:
              type: string
              format: date
        segments:
          type: array
          items:
            $ref: '#/components/schemas/SearchItem'
        pagination:
          $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer

    Station:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        type:
          type: string
        type_choices:
          type: string
        transport_type:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
        direction:
          type: string
        lat:
          type: number
          format: double
        lng:
          type: number
          format: double
        distance:
          type: number
          format: double
        majority:
          type: integer
        settlement_title:
          type: string
        city_title:
          type: string
        country_title:
          type: string
        region_title:
          type: string
        settlement:
          type: string

    ScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          type: string
          format: date-time
        departure:
          type: string
          format: date-time
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            number:
              type: string
            carrier:
              $ref: '#/components/schemas/Carrier'
            transport_type:
              type: string
            vehicle:
              type: string
        is_fuzzy:
          type: boolean
        terminal:
          type: string
        platform:
          type: string
        stops:
          type: string
        days:
          type: string

    SearchItem:
      type: object
      properties:
        thread:
          type: object
          properties:
            uid:
              type: string
            title:
              type: string
            number:
              type: string
            carrier:
              $ref: '#/components/schemas/Carrier'
            transport_type:
              type: string
            vehicle:
              type: string
        departure:
          type: string
          format: date-time
        arrival:
          type: string
          format: date-time
        from:
          $ref: '#/components/schemas/Station'
        to:
          $ref: '#/components/schemas/Station'
        duration:
          type: integer
        start_date:
          type: string
          format: date
        tickets_info:
          type: object
          properties:
            has_tickets:
              type: boolean
            places:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                  price:
                    type: object
                    properties:
                      whole:
                        type: number
                      cents:
                        type: integer
                      currency:
                        type: string

    Copyright:
      type: object
      properties:
        logo:
          type: string
        url:
          type: string
        text:
          type: string
